body {
  background: linear-gradient(135deg, #e0e0e0, #f4f4f4);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.otp-box {
  background-color: white;
  padding: 40px 60px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  animation: fadeIn 0.6s ease-out;
}

.otp-icon img {
  width: 100px;
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.otp-inputs input {
  margin-right: 2px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.otp-inputs input:focus {
  border-color: var(--primary-color);
}

.verify-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

  .loading-spinner {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: white;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resend-text {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
  margin-top: 15px;
  font-size: 14px;
}

.resend-text.disabled {
  color: gray;        
  cursor: not-allowed;
  pointer-events: none;
  text-decoration: none;
  opacity: 0.6;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

  @media (max-width : 430px){
    .otp-box {
      max-width: 320px;
      padding: 40px 39px;
  }
  }